<div class="all-subs-container">
  <h1>All the Subs!</h1>
  <% Sub.all.each do |sub| %>
    <ul>
      <li>
        <a href="<%= sub_url(sub) %>"><%= sub.title %></a>
      </li>
    </ul>
  <% end %>
</div>
